<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LeagueTableSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <LeagueTableSystem.Properties.Settings>
            <setting name="Leagues" serializeAs="String">
                <value>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename="E:\Programming sample\MyProject\LeagueTableSystem\LeagueTableSystem\SqlDatabase.mdf";Integrated Security=True

</value>
            </setting>
            <setting name="Teams" serializeAs="String">
                <value>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename="E:\Programming sample\MyProject\LeagueTableSystem\LeagueTableSystem\SqlDatabase.mdf";Integrated Security=True

</value>
            </setting>
            <setting name="Records" serializeAs="String">
                <value>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename="E:\Programming sample\MyProject\LeagueTableSystem\LeagueTableSystem\SqlDatabase.mdf";Integrated Security=True

</value>
            </setting>
            <setting name="Fixtures" serializeAs="String">
                <value>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename="E:\Programming sample\MyProject\LeagueTableSystem\LeagueTableSystem\SqlDatabase.mdf";Integrated Security=True


</value>
            </setting>
        </LeagueTableSystem.Properties.Settings>
    </userSettings>
</configuration>